body, .home-search-section,
.page--material, .page--material__background,
.home-user-section, .darkblue-bg, .nara-address-section,
#home ons-toolbar, #restaurant_list ons-toolbar, 
#resto_list_category ons-list-item, .nara-top-address,
.tabbar--material, .nara-home-divider, .cart_details .cream_header,
#view_order .list-item--list_style3 .inner, .nara-home-top-bg, #home .page--material__background,
ons-bottom-toolbar, #reviews_list_item, .review-item-list, .bottom-bar,
.gpahical_content, .circle_parent, .success-checkmark .check-icon::before,
.success-checkmark .check-icon::after, .success-checkmark .check-icon .icon-fix,
#restaurant_page #stic_search, #stic-col .col-itself, .stic-share-position,
#restaurant_list .stic-all-rest ons-list-item, #view_order .inner ons-row:nth-child(even) {
	background: #14141B;
}

.page, .page--material, .page--material__content, .page__content, #home .page__content {
	background: #14141B !important;
}

#restaurant_list .stic-promo, .nara-back-btn, .order_details_html,
.stic-share-item, .action-sheet-button--material, .nara-home-categories,
.action-sheet-button--material:last-of-type, .action-sheet--material,
.action-sheet-title--material, .nara-checkout, ons-fab.fab--material,
#cart ons-toolbar .left, #restaurant_page ons-toolbar .left, .stic-camera,
#view_order .inner ons-row:nth-child(odd) {
	background: #1E1E27;
}

.quantity_wrap .minus ons-button {
	background: #1E1E27;
	border-color: #1E1E27;
}

.page, .darkblue, .active .tabbar--material__button, .rating-score, .stic-standart-bold, 
.stic-home-categories .cuisine-title span, #resto_list_category .list-item__title, .stic-score,
.list-item__title, .stic-lateral-wrap h5, .stic-total-row div, .content_page h4, #resto_list_category
.list-item__title, .nara-total, #resto_list_item .list-item__title, .alert-dialog-title,
.basket_toolbar ons-button .stic-text-left {
	color: #fff;
}

.dark {
	color: #14141B;
}

.page--page_white__background, .white_wrapper, .white_wrap {
	background: #14141B;
	background-image: none;
}

.remove-min-height.small, .list-item--list_small, .button--to_neutral,
.order_details_wrap ons-row ons-col:first-child, .summary-wrap .row .text-right:first-child {
	color: #fff;
}

.cream_header h3, .frm_changepass .text-input--material, .frm_address_book .select-input--material, .frm_address_book .text-input--material, .frm_creditcard .select-input--material, .frm_creditcard .text-input--material, .frm_profile .text-input--material, .stic-item-title {
	color: #fff;
}

.list-item--material.list-item--expandable.list-item--longdivider,
.list-item--material.list-item--longdivider,
#recent_location_item .list-item--material__center,
#settings_menu .list-item--material__center,
#settings_menu .list-item--material__right, 
#account_menu .list-item--material__right, 
#account_menu .list-item--material__center,
.item-row .list-item--material__center {
	background-image: none;
	border-bottom: 1px solid #2B2C35;
}

.tabbar--material, .bottom-bar--map_bootom_toolbar,
.summary-wrap {
	border-top: 1px solid #2B2C35;
}

.toolbar--material, .startup_carousel ons-carousel,
#frm_forgotpass .list-item--material__center,
#frm_profile .list-item--material__center,
#frm_signup .list-item--material__center,
#frm_changepass .list-item--material__center,
#frm_login .list-item--material__center, .loc-btn-position,
.form_wrapper, .stic-gray-bg, .white_list_wrapper,
.rounded_white, .search_wrap1, .header_grey,
.bottom-bar--map_bootom_toolbar .inner, .bottom-bar--map_bootom_toolbar,
.carousel_white, .list--transparent, .list-item--list_style1, .list-item--list_style3{
	background: #14141B;
}

.stic-start .button--to_neutral {
	border: 1px solid #2B2C35;
}

.home-search-section ons-input, .bborder, .bborder2, .expanded .top, .item-list-header, #resto_list_category ons-list-item, #resto_list_category .list-item__top, .stic-desc-header, .review-item-list .center, .stic-tips-row ons-select, #search_form_result ons-list-item {
	border-bottom: 1px solid #2B2C35 !important;
}

#cart .bborder2 {
	border-bottom: 5px solid #2B2C35 !important;
}

.stic-options-list.address {
	 border: none; 
}

.search-input::placeholder {
	color: #7c8087;
}

.circle {
	background: #2c303a;
}

.dots li.active .circle {
	background: #ff5f15;
}

.search-input, .stic-title ons-icon,
.stic-title .main, .button--to_text_orange,
.no_order_wrap h4, .header_grey h5,
:checked + .tabbar__button .tabbar__label,
.stic-date-header .main p {
	color: #fff;
}

.list-header--material {
	background: #14141B;
	color: #fff;
}

.list--list_small .list-item__title,
.carousel_resto_menu ons-carousel-item,
.carousel_small ons-carousel-item,
.list-item--full_list h5, .fixed_header h5,
.white_wrapper h5, .bottom-bar--bottom_track2 h5,
.item-order-list p, .min-carousel-wrap .distance,
.stic-column .col-title {
	color: #fff;
}

.list-item__subtitle, .stic-title .min, p.small, .offer-full, #profile .list-item--material__center,
.cuisine-title span, .stic-cuisine, .stic-gray, .pink_tag, .nara-total .nara-total-value,
.stic-more span, .search_wrap1 p, .stic-date-header .min, .nara-reviews-count,
.stic-order-details span, .action-sheet-button--material, #map_select_location p,
.action-sheet-title--material, .order_details_wrap ons-row ons-col:nth-child(2),
.summary-wrap .row .text-right:nth-child(2), .list-item--material, .nara-estimated-time p,
.select-input--material, .white_wrapper p.small, .bottom-bar p, .formatted_address,
.quantity_wrap .minus ons-button, .tip_wrapper p, .alert-dialog-content, .tip_carousel .button--btn_white,
.content_page p.sub, .content_page p.sub a, .alert-dialog-button--rowfooter,
.day-row .left p, .nara-cards ons-icon, .f15.desc-margin, .stic-promo .concat_text {
	color: #c5c9d1;
}

.review-text {
	color: #c5c9d1 !important;
}

.radio-button--material__input:checked:before {
	box-shadow: 0 0 0 14px #2B2C35;
	background-color: #2B2C35;
}

.carousel-content, .bottom-bar--bottom_toolbar_carousel ons-carousel-item, #home .stic-all-rest ons-list-item {
	background: #1E1E27;
	border: none;
}

.rounded-search ons-search-input {
	border: 1px solid #2B2C35;
}

.home-search-section ons-input,
.rest-offers-carousel .content,
.list-item--list_style1 .inner,
.list-item--list_style3 .inner {
	background: #1E1E27;
	border: none;
}

.ph-item {
	background-color: #14141B !important;
	border: 1px solid #14141B !important;
}

.ph-item:before {
	background: linear-gradient(90deg,hsla(0,0%,100%,0) 46%,hsla(0,0%,100%,0.05) 50%,hsla(0,0%,100%,0) 54%) 50% 50% !important;
}

.ph-picture, .ph-row div, .ph-avatar,
.review-item-list .center, #tip_amount input {
	background-color: #1E1E27 !important;
}

.banner .logo {
	background: #14141B;
	border: 2px solid #3d4354;
}

.list-item--social_list ons-button,
.button--blue_button, .button--darker_orange_button,
textarea.full_width, .button--btn_white,
.option_contact_delivery, .alert-dialog,
.stic-textarea, .stic-textarea textarea {
	background: #1E1E27;
	color: #fff;
}

textarea.full_width {
	border: 1px solid #2B2C35;
}

.white_list_wrapper h4, .list-item--list_column h4,
.bottom-bar--bottom_toolbar_carousel h4, .text-input:invalid,
.stic-item price, .stic-column price {
	color: #fff;
}

.all_restaurant_wrapper .stic-promo,
.rest-info, .min-offers-carousel .content {
	background: #2B2C35;
	color: #c5c9d1;
	border-color: #222d4b;
}

.logo-col-img {
	background-color: #14141B;
}

.check-order .expandable-content,
.list-header--list_header_border_bottom {
	border: none;
}

.stic-mobile-num+.stic-icon,
.stic-more img, .pac-container, .form_wrapper .stic-icon,
.map_info_wrap, .stic-icon-redo, .frm_profile .stic-icon,
#contact_field_list .stic-icon {
	filter: invert(1);
}

.rest-info img {
	filter: brightness(1.2);
}

.text-input--material,
#list_filters .list-item--material__center,
.action-sheet-title--material:first-child {
	color: #fff;
	background-image: none;
	border-bottom: 1px solid #2B2C35 !important;
}

.alert-dialog-button--rowfooter:nth-child(2),
.stic-grey-btn {
	background: transparent;
	border: 2px solid #2B2C35;
}

.grey_line {
	background: #222;
}

.ph-item {
	background: red;
}

.list-item--chevron:before, .list-item__expand-chevron {border-right: 2px solid #363742;border-bottom: 2px solid #363742;}

.rest-info.promo {
	background: none;
	color: #fff;
}

.rest-info.promo img,
#stic_search.map .stic-icon {
	filter: invert(0) !important;
}

.list-header--material:not(:first-of-type),
.all_restaurant_wrapper .list-item--material__center,
#resto_list_category .list-item--material__center,
.action-sheet .list-item--material__center,
.list-item--material__center, .list-item--material__left:empty {
	background-image: none;
}

.button--sort_btn {
    color: #ff5f15 !important;
}

.modal--skeleton, .modal--skeleton .modal__content {
   background: #14141B;
   border: 1px solid #14141B;
}

.home-search-section ons-input {
	box-shadow: none;
	border-bottom: none !important;
}

.app_title {
	color: #fff;
}

#tab-home ons-icon,
#tab-search ons-icon,
#tab-orders ons-icon,
#tab-profile ons-icon,
#tab-cart ons-icon {/* filter: brightness(0); */}

.pac-container {
	background-color: #c5c9d1;
	box-shadow: none;
}

#track_history .button--material[disabled] {
	color: #fff;
	opacity: .5;
}

.bottom-bar {
	background: #14141B;
	color: #555;
}

.rest-info.new {
	color: #c5c9d1;
	background: none;
}

.ratings-box .stic-score {
	color: #14141B;
}

.item-list-header,
.sale-price,
.order_details_html .cart_total_wrap .text-right {
	color: #fff !important;
}

#home ons-pull-hook,
ons-pull-hook {
	background: #1E1E27 !important;
	color: #fff;
}

.stic-min-grey-btn, .stic-total-row {
	background: #1E1E27;
	color: #c5c9d1;
}

.search_wrapper ons-search-input,
.text-input--material,
.stic-mobile-num,
.nara-tip-bg,
.nara-cards ons-icon,
.nara-cards .loaded {
	background: #2B2C35 !important;
}

.tip_carousel .carousel-content {
	border: none;
}

#receipt h3, #driver_ty h3, #booking_receipt h3, .stic-dish-item, .opening_hours li:nth-child(odd),
.check-order .expandable-content, .ratings-box, .dialog-container--material {
	background: #1E1E27;
}

#resto_list_category ons-list-item, #resto_list_item ons-list-item {
	background: #14141B;
	border-bottom: 1px solid #2B2C35;
}

.alert-dialog-button--rowfooter:first-child {
	background-image: none;
}

.alert-dialog-button--rowfooter {
	background-image: none;
}

.check-order.expanded .top {
	border-bottom: none !important;
}

.stic-share-item span,
.nara-clear-cart span,
.ratings-box .stic-score,
.stic-options-list.address .right span {
	color: #fff;
}

#item_details .page__content {
	padding-top: 0;
}

.circular_main {
	border: 1px solid #14141B;
}

.action-sheet-button:active,
.action-sheet-button:last-of-type:active {
	background-color: #1E1E27;
}

.gpahical_content .progress-circular--material__secondary {
	stroke: #2B2C35;
}

#cart .toolbar.toolbar--material+.page__background+.page__content,
#restaurant_page .toolbar.toolbar--material+.page__background+.page__content {
	background: #14141B !important;
}

#home .white_list_wrapper {
	border-color: #111117;
}

.stic-options-list .nara-date,
.stic-options-list .nara-time,
.stic-profile-header .user,
.nara-min-content,
.stic-share,
#restaurant_list .stic-promo,
.all_restaurant_wrapper .stic-promo,
#stic-col .col-itself:nth-of-type(2),
.stic-all-rest ons-list-item {
	border-color: #2B2C35;
}

.nara-view-order,
.logo-col-img,
#favorite_restaurant_wrapper .header_bg {
	border: 2px solid #2B2C35;
}

.quantity_wrap,
.nara-rest-details .rest-info img,
.nara-qty-btn,
.nara-item-notes,
.order_details_html .text-info,
.nara-item-notes ons-list-header {
	background: #2B2C35;
}

.home-user-section span, .nara-score {
	color: #fff;
}

#restaurant_page .stic-lateral-wrap .stic-carousel {
	background: #2B2C35;
}

.darkblue-bg.contents,
#restaurant_list .hatake {
	color: #ff5f15;
}

.switch--material__toggle {
	background: #333d4b;
}

.radio-button--material__checkmark:before {
	border-color: #363742;
}

#addressbook_list_item img {
	filter: grayscale(1) brightness(1);
}

.menu_loader .small.padding:before {
	
opacity: .1;
}

.toast--success {
	background: #fff;
}

.toast--success__message {
	color: #333;
}

.white_list_wrapper .banner .header_bg,
.white_list_wrapper .banner .logo_bg,
.list-item--list_column .banner .header_bg {
	background-color: #111117;
}

#tab-home.active ons-icon {
    background-image: url("../lib/icons/tab-home-active-dark.svg") !important;
}

#tab-search.active ons-icon {
    background-image: url("../lib/icons/tab-search-active-dark.svg") !important;
}

#tab-orders.active ons-icon {
    background-image: url("../lib/icons/tab-orders-active-dark.svg") !important;
}

#tab-profile.active ons-icon {
    background-image: url("../lib/icons/tab-profile-active-dark.svg") !important;
}

#tab-cart.active ons-icon {
    background-image: url("../lib/icons/tab-cart-active-dark.svg") !important;
}

.checkbox--material__checkmark:before {
	border-color: #363742;
}

.stic-min-active,
.stic-options-list.address,
.selected .nara-min-content,
#profile .list-item--material__left:before {
    background-color: rgba(234, 29, 45, 0.14) !important;
}

.stic-share {
	background-color: transparent;
}

.stic-options-list.address.list-item--chevron:before {
	border-color: #632f34;
}