body {
  background-color: #fff !important;
}

ons-pull-hook {
    background: #f3f3f3 !important;
}

#home ons-pull-hook {/* margin-top: 20px; */}

ons-action-sheet{
    /* margin-bottom:-20px !important; */
}

.action-sheet--filter_sheet{
    height:500px !important;
}

#restaurant_page ons-fab {
    bottom: 103px;
}

.identify_location_wrap {
}

#map_select_location .bottom-bar .button--to_orange {
	margin: 0 20px;
}

#restaurant_page ons-pull-hook {
    /* margin-top: -45px !important; */
}

#restaurant_page .carousel_banner .banner {
    /* padding-top: 45px; */
}

#restaurant_page .back-button--fixed_back_button,
#item_details .back-button--fixed_back_button {
    margin-top: 40px;
}

#cart .back-button--button_white .back-button--material__icon,
#address_form .back-button--material__icon {
    position: absolute;
    top: 46px;
}

#cart .toolbar.toolbar--material+.page__background+.page__content {
    padding-bottom: 80px;
}

.bottom_toolbar_checkout {
    padding: 15px 30px 44px;
}

.stic-share-position {
}

#address_form .identify_location_wrap {
margin-top: 50px;
}

#item_details .page__content,
#address_form .page__content,
#graphical_tracking .page__content{
    padding-top: 0px;
}

#graphical_tracking .stic-grey-btn {
    bottom: 33px;
}

.item_details_wrap .fake-toolbar {
    margin-bottom: 50px;
}

.carousel_banner .banner {
    height: 134px;
}

.cart_header {
}

#address_form .stic-position-btn ons-icon {
    margin-top: 20px;
}

.tabbar {
    height: 50px;
}

.bottom-bar {
    /* height: 50px; */
    background: #fff;
}

#page_startup .bottom-bar {
    height: auto;
    margin-bottom: 44px;
}

#map_select_location ons-bottom-toolbar {
    height: unset;
}

.bottom-bar--map_bootom_toolbar .inner {
    padding-bottom: 0;
}

#filter .page__content {
    overflow-y: visible;
    padding-top: 0;
    bottom: 0;
    padding-bottom: 60px;
}

#resto_list_category,
#resto_list_item {
    /* margin-bottom: 54px; */
}

.cart-btn {
    bottom: 44px;
}

.stic-grey-btn {
    bottom: 104px;
}

#cart ons-toolbar,
#restaurant_page ons-toolbar {
    margin-top: 0px;
}

#restaurant_page .carousel_banner {
    /* margin-top: 45px; */
}

#page_startup h2 {
    margin: 15% 20px 0;
}

.stic-share-item {
    top: 60px;
}

#item_details .page__content {
    bottom: 88px;
}

#cart .toast--material {
    bottom: 90px;
}

#add_review .stic-lateral-wrap {
    margin-top: 20px;
}

#restaurant_page .green_tag {
    margin-top: 13px;
}

#graphical_tracking .fake-toolbar {padding-top: 44px;}

.nara-back-btn {
    margin-top: 0;
}

.loc-btn-position,
.identify_location_wrap {
    top: 44px;
}

.bottom_toolbar_pay, .bottom_toolbar_checkout {
    padding-bottom: 0; 
}

#home .page__content {padding-top: 0;}

.nara-top-address {
    padding-top: 44px;
}

.nara-fake-toolbar {
    height: 98px;
}

.stic-camera {
    margin-top: 44px !important;
}

.gpahical_content {
    padding: 20px 20px 5px;
}

.nara-ordering-at {
    padding-top: 45px;
}

.startup_carousel .banner {
    margin-top: 5vh;
}

.stic-counter {
    bottom: 8vh;
}

#skip_presentation {height: 45vh;margin: 0 10vw;}

.back-button--material__icon {
    margin-bottom: 0;
}