@font-face {
    font-family: 'Poppins';
    src: url('../fonts/ltr/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/ltr/Poppins-Bold.ttf');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/ltr/Poppins-Black.ttf');
    font-weight: 800;
    font-style: bolder;
}

@font-face {
    font-family: "Tajawal";
    src: url('../fonts/rtl/Tajawal-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Tajawal";
    src: url('../fonts/rtl/Tajawal-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

body {
    background: #333;
}

#stic_app_name {
    margin: 0 0 20px;
}

.stic-lateral-wrap {
    margin: 0 20px;
}

.stic-lateral-wrap-fix {
    margin: 0 15px;
}

p.small {
    font-size: 13px;
}

#frm_guest_form ons-list-item,
#dinein_forms_list ons-list-item,
#frm_contact ons-list-item,
#frm_cod_forms ons-list-item,
#frm_driver ons-list-item,
#frm_address_form_select ons-list-item,
#frm_changepass ons-list-item,
#frm_profile ons-list-item,
#frm_book ons-list-item,
#frm_login ons-list-item,
#frm_forgotpass ons-list-item,
#frm_forgotpass_sms ons-list-item,
#frm_signup ons-list-item,
#frm_signup div,
.pd0 {
    padding: 0;
    background: none;
}

#frm_book ons-list-item {
    width: auto;
    margin-bottom: 5px;
}

.form_wrapper .list-item--material__center,
#frm_book .list-item--material__center,
.cart_details .list-item--material.list-item--longdivider,
.stic-options-list.asap,
.stic-options-list.asap div,
.stic-order-history .list-item--material__center,
#search_form .list-item--material__center,
.stic-all-rest .list-item--material__center,
.stic-history-history .list-item--material__center {
    background-image: none;
}

#search_form .list-item--material__left {
    min-width: 50px;
}

#search_form price {
    color: #222;
}

#stic_search {
    margin: 20px;
    padding: 0;
}

#stic_search .stic-icon {
    top: unset;
    height: 40px;
    width: 40px;
    display: inline-block;
    text-align: right;
    line-height: 49px;
    opacity: 1;
    right: 35px;
}

.nara-search-row .stic-icon {
    right: 15px !important;
}

#stic_search .stic-icon img {
    width: 18px;
}

#stic_search input {
    height: 40px;
    line-height: 40px;
    letter-spacing: 0.5px;
    padding: 0;
    background: none;
    padding: 0 15px;
    padding-right: 40px;
}

#frm_forgotpass .list-item--material__center,
#frm_profile .list-item--material__center,
#frm_signup .list-item--material__center,
#frm_changepass .list-item--material__center,
#frm_login .list-item--material__center {
    margin-bottom: 5px;
    background: #fff;
    align-items: flex-end;
}

#frm_address_book .list-item--material__center,
#frm_address_book_location .list-item--material__center {
    margin-bottom: 5px;
}

.stic-icon {
    position: absolute;
    height: 18px;
    top: 18px;
    right: 35px;
    opacity: 0.2;
}

.stic-social-icon {
    height: 18px;
    display: block;
}

.stic-small-icon {
    height: 16px;
    display: inline;
}

#height_fix {
    height: 56px;
}

.or-use {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.normal {
    font-weight: normal !important;
}

.bold {
    font-weight: bold;
}

.mobilecode_list {
    background: #fff;
}

.ultra-light-gray {
    color: #9b9ea3 !important;
}

.stic-counter {
    position: absolute;
    width: 100%;
    bottom: 8vh;
}

#skip_presentation {
    position: absolute;
    bottom: 0;
    margin: 0 12.5vw;
    text-align: center;
    height: 50vh;
    width: -webkit-fill-available;
}

.stic-start {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 15%;
    margin: 0 20px;
    width: -webkit-fill-available;
}

.stic-start .button--to_neutral {
    margin-left: 2.5%;
    border-radius: 14px;
    border: none;
    padding: 0;
    width: 42.5%;
    box-shadow: none;
    color: #ff5f15;
    background: rgba(234, 29, 45, 0.09);
}

.stic-start .button--to_orange {
    margin-right: 2.5%;
    border-radius: 14px;
    padding: 0;
    width: 42.5%;
}

.br5 {
    /* border-radius: 3px; */
}

.neutral-btn {
    background: transparent;
    border: 1px solid #e8eaed;
    color: #626573;
}

.transparent {
    background: transparent;
}

.stic-header-icon {
    margin-right: 15px;
    font-size: 19px;
    color: #ff5f15;
    display: none;
}

.search_wrap2 .form_wrapper ons-input {
    margin-left: 0!important;
    margin-right: 0!important;
}

.search_wrap2 .form_wrapper {
    margin-bottom: 20px
}

.form_wrapper {
    background: #fff;
}

.pl20 {
    padding-left: 20px;
}

.stic-title {
    padding: 15px 20px;
    display: flex;
}

.stic-title .main {
    font-size: 17px;
    font-weight: 900;
    color: #222;
}

.stic-title .min {
    font-size: 15px;
    color: #9b9ea3;
    white-space: nowrap;
}

.stic-title ons-icon {
    margin-right: 25px;
    font-size: 16px;
    color: #333;
    display: none;
}

.home-title {
    width: 100%;
    display: flex;
}

.stic-half-col {
    display: inline-block;
    width: auto;
}

.inline {
    /* display: inline-block; */
}

.inblock {
    display: inline-block;
}

.ingrid {
    display: inline-grid;
}

.block {
    display: block !important;
}

.inline-only {
    display: inline !important;
}

.no-decoration {
    text-decoration: none;
}

.stic-uppercase {
    text-transform: uppercase;
    font-size: 13px !important;
    color: #ff5f15 !important;
    letter-spacing: 1px;
    font-weight: bold;
}

.float-l {
    float: left;
}

.float-r,
.nara-total-row .nara_total_value,
.stic-add-item-btn {
    float: right;
}

.nara-estimated-time .float-r {
    color: #9b9ea3;
    font-size: 13px;
    max-width: 100px;
    text-align: right;
    margin-top: -5px;
    line-height: 1.5;
}

.location-btn {
    width: 50px;
    height: 50px;
    line-height: 50px !important;
    border: none;
    vertical-align: unset !important;
}

.loc-btn-position {
    position: fixed;
    width: 50px;
    top: 30px;
    padding: 0;
    box-shadow: 0 5px 20px 0 rgba(30, 40, 50, 0.1) !important;
    background: #fff;
    right: 20px;
    border-radius: 50px;
}

#restaurant_list_map .loc-btn-position {
    height: 50px;
    line-height: 50px;
}

.stic-all-rest {
    overflow: visible;
}

.stic-all-rest ons-list-item {
    background: #fff;
    margin: 0 0 10px;
    padding: 0;
    width: auto;
    border-radius: 14px;
    box-shadow: 0 5px 20px 0 rgb(30 40 50 / 10%);
}

#favorite_list_item ons-list-item {
    box-shadow: none;
    border-radius: 0;
}

#home .stic-all-rest ons-list-item {
    display: block;
}

.tabbar__content {
}

ons-page .tabbar__content {
}

.stic-all-rest ons-list-item:last-child {
    margin-bottom: 0;
}

.stic-all-rest .list-item__center {
    padding: 0;
}

.rest-list-details {
    padding: 10px;
    width: 100%;
}

.contents {
    display: contents;
}

.gold-color {
    color: gold;
    font-size: 10px;
    line-height: 0px;
    padding-right: 5px;
}

#restaurant_list .gold-color,
.all_restaurant_wrapper .gold-color {
    padding: 0 5px 0 2px;
}

#restaurant_list .green_tag.open,
.all_restaurant_wrapper ons-list-item .green_tag.open {
    position: unset;
    display: inline-block;
    vertical-align: sub;
}

.all_restaurant_wrapper .rtlMerchantCarouselAll .green_tag.open {
    top: 10px;
}

.stic-score {
    display: inline-block;
    /* font-weight: bold; */
    font-size: 15px;
    letter-spacing: 1px;
    color: #222;
    margin-left: 5px;
}

.logo-col-img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #f3f3f3;
    border: 2px solid #e8eaed;
}

.stic-cuisine {
    text-overflow: unset;
    white-space: unset;
    color: #9b9ea3;
}

.stic-div-details {
    /* padding-left: 10px; */
}

.rest-info {
    padding: 1px 5px;
    background: #f3f3f3;
    border-radius: 15px;
    color: #6b6d70;
    max-height: 20px !important;
    display: inline-block;
    margin-right: 5px;
}

#favorite_restaurant_wrapper .rest-info {
    padding: 2px 10px;
}

.rest-info div {
    display: flex;
    align-items: center;
}

.rest-info img {
    width: 12px;
    margin-right: 3px;
}

.rest-info p {
    font-size: 13px;
}

.rest-info.new {
    color: #fff;
    padding: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 10px 0 0;
    background: transparent;
}

.rest-info.new p {
    font-size: 11px;
    color: #9b9ea3;
}

.stic-promo {
    color: #6b6d70;
    padding: 5px 15px;
}

.stic-promo div {
    display: flex;
    align-items: center;
    white-space: break-spaces;
    overflow: auto;
}

.stic-promo img {
    width: 12px;
    margin-right: 5px;
}

.mr5 {
    margin-right: 7px;
}

.mr5:last-child {
    margin-right: none;
}

.green_tag.close {
    background: rgba(0, 0, 0, 0.5);
    max-width: unset;
    border-radius: 10px;
    line-height: 83px;
    left: 10px;
    right: 10px;
    top: 0;
    padding: 0;
    letter-spacing: 0.5px;
    color: #fff;
    font-size: 12px;
}

#restaurant_list .green_tag.close,
.all_restaurant_wrapper .green_tag.close {
    top: 10px;
    left: 10px;
    right: 10px;
    height: 83px;
    background: rgba(0, 0, 0, 0.5);
}

.all_restaurant_wrapper ons-carousel-item .green_tag.close {
    top: 0px !important;
}

.stic-carousel {
    overflow: visible;
}

.stic-carousel ons-carousel-item {
    padding: 0;
    margin: 0;
}

.carousel-content {
    background: #fff;
    padding: 10px 0;
    border-radius: 14px;
    box-shadow: 0 5px 20px 0 rgb(30 40 50 / 10%) !important;
    border: 0;
}

.carousel-content h4 {
    margin: 5px 0 0;
    white-space: nowrap;
}

.carousel-content p {
    width: auto;
}

.cuisine-title {
    overflow: hidden;
    text-align: center;
    margin: 5px 0 0;
}

.nara-home-categories +.cuisine-title {
    overflow: visible;
}

.cuisine-title span {
    font-size: 13px;
    color: #6b6d70;
    line-height: 1;
    display: inline-flex;
}

.stic-home-categories .cuisine-title span {
    color: #222;
    font-weight: bold;
}

.min-carousel-wrap {
    margin: 0px 10px;
    overflow: hidden;
}

.min-carousel-wrap h4 {
    font-size: 15px;
    display: contents;
    white-space: normal;
    font-weight: bold;
}

.min-carousel-wrap .nara-rest-details {
    margin: 0px !important;
}

.estimation_merchant,
.nara-address-section p,
.cuisine-box,
.stic-desc-4,
.formatted_address,
#favorite_restaurant_wrapper .stic-cuisine {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.stic-desc-4 {
    -webkit-line-clamp: 4;
    margin: 5px 0;
}

#favorite_restaurant_wrapper .stic-cuisine,
.formatted_address {
    -webkit-line-clamp: 1;
    word-break: break-all;
}

.cuisine-box .stic-cuisine {
    word-break: break-all;
}

.ratings-box {
    padding: 2px 5px;
    display: inline-block;
    font-size: 13px;
    background: #fff;
    position: absolute;
    right: 15px;
    top: 72px;
    border-top-left-radius: 10px;
}

#favorite_restaurant_wrapper .ribbon, .hide_all, .hide_all_2, .offers-only, #graphical_tracking .gmnoprint {
    display: none;
}

#favorite_restaurant_wrapper .pink_tag {
    margin: 0;
    display: block;
    text-align: left;
}

#search_results_wrapper .show_cover,
#special_offers_wrapper .offers-only,
#special_offers_wrapper .show_cover,
#special_offers_wrapper .hide_all_2,
#featured_list_wrapper .show_cover,
#home_banner_wrapper .show_cover {
    display: block !important;
}

#favorite_restaurant_wrapper .show_logo {
    display: block !important;
}

.stic-show-btn {
    display: block !important;
}

#favorite_restaurant_wrapper .cuisine-box .stic-cuisine {
    font-size: 15px;
    line-height: 1.3;
}

.logo-col {
    max-height: 50px;
}

.carousel-content {
    margin: 0 5px;
}

ons-carousel-item:first-child .nara-min-content,
.stic-carousel ons-carousel-item:first-child .carousel-content {
    margin-left: 0;
}

ons-carousel-item:last-child .nara-min-content,
.stic-carousel ons-carousel-item:last-child .carousel-content {
    margin-right: 0;
}

.featured-carousel-wrap {
    position: absolute;
    height: 132px;
    width: 100%;
    top: 0;
    text-align: center;
}

.featured-carousel-wrap h4 {
    color: #fff;
    height: 100%;
    margin: 0;
    font-size: 19px;
    font-weight: 900;
    letter-spacing: 1px;
    max-height: 132px;
    line-height: 132px;
}

.home-carousel-wrap h4 {
    color: #fff;
    margin: 0;
    font-size: 17px;
    font-weight: bold;
    padding: 0;
    line-height: 1;
}

.home-carousel-wrap p {
    color: #fff;
    margin: 0;
    font-size: 15px;
    padding: 5px 0 0 0;
    line-height: 1;
}

.view-btn {
    position: absolute;
    right: 16px;
    bottom: 6px;
    padding: 0;
    letter-spacing: 0.5px;
    height: 20px;
    line-height: 20px;
    display: flex;
}

.view-btn span {
    font-size: 15px;
    color: #fff;
}

.view-btn ons-icon {
    margin-left: 10px;
    color: #fff;
    font-size: 20px;
}

.view-btn .loaded {
    display: inline-grid;
    vertical-align: middle;
}

.featured .carousel-content {
    padding: 0;
}

.featured .header_bg {
    filter: brightness(0.85);
    margin: 0 !important;
    border-radius: 14px !important;
    height: 132px !important;
}

.home_banner_wrapper .featured .header_bg {
    filter: unset;
}

.stic-gray {
    color: #9b9ea3;
}

.stic-home-shadow {
    background: linear-gradient(15deg, rgba(0, 0, 0, .4) 5%, rgba(0, 0, 0, .2) 35%, rgba(0, 0, 0, 0) 65%);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 14px;
}

.featured_list_wrapper,
.home_banner_wrapper,
.cuisine_list_wrapper {
    min-height: unset;
}

.stic-home-gap {
    height: 22.5px;
}

.cuisine-carousel .header_bg,
.gallery-carousel .header_bg {
    height: 70px !important;
    margin: 0 auto !important;
    width: 70px !important;
}

.cuisine-carousel .carousel-content,
.gallery-carousel .carousel-content {
    background: transparent;
    box-shadow: none !important;
    border: none;
    margin: 0;
    padding: 0;
}

.cuisine-carousel .rest_qty,
.gallery-carousel .rest_qty {
    font-size: 12px;
    color: #626573;
    display: none;
}

.cuisine-carousel .header_bg,
.gallery-carousel .header_bg {
    border-radius: 10px !important;
}


/*#carousel .carousel-content {background: transparent;}*/

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f15 {
    font-size: 15px;
}

.m0 {
    margin: 0px;
}

.mb0 {
    margin-bottom: 0px !important;
}

.mb5 {
    /* margin-bottom: 5px; */
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb20-olny {
    margin: 0 0 20px;
}

.mr10 {
    margin-right: 10px;
}

.RTL .mr10 {
    margin-left: 10px;
    margin-right: unset;
}

.mr20 {
    margin-right: 20px;
}

.RTL .mr20 {
    margin-left: 20px;
    margin-right: unset;
}

.mr5true {
    margin-right: 5px;
}

.RTL .mr5true {
    margin-left: 5px;
    margin-right: unset;
}

.ml4 {
    margin-left: 4px !important;
}

.RTL .ml4 {
    margin-right: 4px !important;
    margin-left: unset;
}

.mr6 {
    margin-right: 6px !important;
}

.RTL .mr6 {
    margin-left: 6px !important;
    margin-right: unset;
}

.ml10 {
    margin-left: 10px;
}

.RTL .ml10 {
    margin-right: 10px;
    margin-left: unset;
}

.mlat10 {
    margin: 0 10px;
}

.mlat20 {
    margin: 0 20px;
}

.mt0 {
    margin-top: 0px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.auto {
    width: auto;
}

.pr0 {
    padding-right: 0;
}

.pr15 {
    padding-right: 15px;
}

.RTL .pr0 {
    padding-left: 0;
    padding-right: unset;
}

.p15 {
    padding: 15px;
}

.pb0 {
    padding-bottom: 0;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pb20 {
    padding-bottom: 20px;
}

.h70 {
    height: 70px;
}

.ml20 {
    margin-left: 20px;
}

.self-center {
    align-self: center;
}

ons-pull-hook {
    background: #f8f8f8;
    color: #222;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#restaurant_list ons-toolbar,
#home ons-toolbar {
    background: #ff5f15;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#home ons-pull-hook {
    margin: 0;
}

#search ons-pull-hook {
    background: transparent !important;
}

.reviews-qty {
    display: none;
    letter-spacing: 1px;
    font-size: 14px;
}

.home-search-section {
    position: relative;
    height: 23px;
}

.home-search-section ons-input {
    margin: 0 20px;
    background: #fff;
    border-radius: 25px;
    border: none;
    position: absolute;
    left: 0;
    right: 0;
}

.home-search-section input {
    border: none !important;
    padding: 0 20px;
    height: 46px;
    line-height: 46px;
}

.home-search-section img {
    right: 40px;
    top: 14px;
}

.home-search-section span {
    padding: 0 20px;
    height: 46px;
    line-height: 46px;
    right: 0;
    text-align: center;
}

.hatake {
    color: #ff5f15 !important;
}

.darkblue-bg {
    background: #ff5f15;
}

.darkblue-bg .hatake {
    color: #fff !important;
}

.white {
    color: #fff;
}

.stic-reload {
    border: none;
}

.address-line ons-toolbar-button {
    margin: 0 0 0 5px !important;
    padding: 0;
}

.flex {
    display: flex;
}

.stic-login {
    margin: auto 0 auto auto;
    text-align: right;
}


/*#favorite_restaurant_wrapper .cuisine-box {display: none;}*/

#favorite_restaurant_wrapper .header_bg {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 0 10px 0 0;
    border: 2px solid #e8eaed;
}

#favorite_restaurant_wrapper .banner {
    display: inline-block;
    width: auto;
    vertical-align: bottom;
}

#favorite_restaurant_wrapper .min-carousel-wrap {
    display: inline-block;
    margin: auto auto auto 0;
    white-space: unset;
}

#favorite_restaurant_wrapper .carousel-content {
    padding: 10px;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    position: relative;
}

#favorite_restaurant_wrapper .pre-order {
    background: transparent;
    color: #ff5f15;
    text-transform: uppercase;
    padding: 0;
    position: unset;
    text-align: left;
    display: inline-block;
}

#favorite_restaurant_wrapper .green_tag.open {
    position: unset;
    display: inline-block;
    vertical-align: middle;
}

#favorite_restaurant_wrapper .ratings-box {
    padding: 0;
    text-align: center !important;
    display: block;
    white-space: nowrap;
    position: absolute;
    top: 10px;
    right: 10px;
}

#favorite_restaurant_wrapper .green_tag.close {
    min-width: 60px;
    height: 60px;
    left: 10px;
    border-radius: 30px;
    line-height: 60px;
    margin: 0;
    font-size: 10px;
}

#map_enter_address .list-item--material__icon {
    padding: 0;
    padding-right: 20px;
}

#map_enter_address .list-item--material__center {
    margin-bottom: 10px;
    background-image: none;
}

#map_enter_address .list-item--material__left {
    /* min-width: unset; */
}

#filter .list-item--material__left,
#filter_item .list-item--material__left,
#sort_cuisine .list-item--material__left,
.recent_loc_child .list-item--material__left,
#addressbook_list_item .list-item--material__left,
#creditcard_list_item .list-item--material__left,
#creditcard_list .list-item--material__left,
#settings_menu .list-item--material__left,
#profile .list-item--material__left {
    min-width: 40px;
}

#profile .list-item--material__left {
    margin-right: 8px;
}

#profile .list-item--material__left:before {content: '';position: absolute;width: 38px;height: 38px;background: rgba(234, 29, 45, 0.09);border-radius: 20px;}

#profile .list-item--material__left img {display: block;margin: auto;width: 16px;}

.stic-icon-redo {
    height: 18px;
    opacity: 0.6;
}

#recent_location_item .list-item--material__icon {
    font-size: 14px;
    color: #9b9ea3;
}

:checked+.tabbar__button .tabbar__label {
    font-size: 11px;
    color: #222;
}

#track_driver .no_order_wrap,
#cart .no_order_wrap {
    margin-top: 35%;
}

.no_order_wrap h4 {
    font-size: 19px;
    font-weight: 900;
    color: #222;
    margin: 0 0 10px;
}

.no_order_wrap p {
    font-size: 15px;
    margin: 0;
    color: #6b6d70;
}

.home-user-section {
    vertical-align: middle;
    background: #fff;
    display: none;
    margin-top: 10px;
}

.home-user-section span {
    font-size: 21px;
    font-weight: bold;
    color: #222;
}

.home-user-section .comma {
    margin-left: -3px;
}

.home-user-section ons-icon {
    font-size: 22px;
    font-weight: normal !important;
    color: #fff;
    float: right;
    margin-top: 2px;
}

.home-user-lateral {
    padding: 0 20px;
    display: inline-block;
}

#creditcard_list span,
#creditcard_list_item span,
#addressbook_list_item span {
    letter-spacing: 0
}

#settings_menu .list-item--material__right {
    color: #626573;
    max-width: 50%;
    word-break: break-all;
    text-align: right;
}

.recent_loc_child img,
#addressbook_list_item img,
#creditcard_list img,
#settings_menu img,
#account_menu img {
    width: 18px;
}

#addressbook_list_item img {
    filter: grayscale(1) brightness(2);
}

.nara-selected-address {
    filter: unset !important;
}

#account_menu {
    margin-bottom: 20px;
}

.stic-profile-header {
    margin: 0 20px;
}

.stic-profile-header h5 {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 0 #333;
    color: #333;
    letter-spacing: 0.5px;
}

.stic-profile-header p {
    padding: 0;
    margin: 0;
}

.stic-profile-header img {
    width: 80px;
    height: 80px;
}

.stic-profile-header .user {
    border: 2px solid #f3f3f3;
    box-shadow: 0 5px 20px 0 rgba(30, 40, 50, 0.1);
}

.stic-profile-icon {
    width: 18px !important;
    height: unset !important;
    vertical-align: middle;
}

.frm_profile {
    margin: 20px;
}

.stic-ingridients {
    font-size: 13px;
    color: #222;
    display: block;
    margin: 10px 0;
    letter-spacing: 0;
}

.frm_address_book .form_wrapper ons-input,
.frm_address_book_location .form_wrapper ons-input,
.frm_creditcard .form_wrapper ons-input,
.frm_profile .form_wrapper ons-input,
.frm_address .form_wrapper ons-input,
.frm_address_form_location ons-input,
.frm_dinein ons-input,
.frm_address_form_select_location ons-input {
    margin: 0;
}

.frm_profile .stic-icon,
.frm_address_book .stic-icon,
.frm_address_book_location .stic-icon {
    right: 15px;
}

.frm_profile .loaded,
.stic-add-item-btn {
    width: 100%;
}

.stic-grey-btn {
    color: #ff5f15;
    height: 50px;
    line-height: 50px;
    letter-spacing: 0.5px;
    position: fixed;
    bottom: 95px;
    left: 40px;
    right: 40px;
    width: auto;
    font-size: 15px;
    border: none;
    background: rgba(234, 29, 45, 0.09);
    font-weight: bold;
}

#graphical_tracking .stic-grey-btn {
    position: unset !important;
    border: none;
    margin: 5px 30px;
    display: block;
    background: transparent;
    font-weight: normal;
}

#receipt .stic-grey-btn {
    position: unset !important;
    margin-top: 5px;
    text-transform: uppercase;
    display: block;
    width: 50%;
    border: none;
    font-weight: bold;
}

#receipt .stic-total-row,
#dinein_forms_list {
    margin: 0 20px;
}

#dinein_forms_list .stic-icon {
    right: 20px;
}

#dinein_forms_list .full_width {
    margin: 10px 0 !important;
}

.frm_changepass {
    margin-top: 20px;
}

.stic-gray-bg {
    background: #fff;
}

.stic-toolbar-icon {
    width: 20px;
    opacity: .6;
}

.stic-not-found {
    transform: none !important;
}

.stic-booking-history .inner,
.stic-order-history .inner {
    border-radius: 10px;
    margin: 0 20px 15px;
    padding: 15px;
    box-shadow: 0 5px 20px 0 rgba(30, 40, 50, 0.1);
    z-index: 1;
}

.stic-booking-history .center,
.stic-order-history .center {
    margin: 0;
    padding: 0;
}

.stic-booking-history .thumbnail,
.stic-order-history .thumbnail {
    border-radius: 50px;
    height: 40px;
    width: 40px;
}

.stic-date-header {
    width: 100%;
    margin: 15px 20px 15px;
    font-weight: bold;
    letter-spacing: 0;
}

.stic-date-header .dot {
    margin: 0 5px 0 0;
    font-size: 24px !important;
    text-shadow: 1px 0 #333;
    display: none !important;
}

.stic-date-header .main {
    display: inline-block;
}

.stic-date-header .min {
    font-weight: normal;
    letter-spacing: 0.5px;
    font-size: 13px;
    margin: 3px 5px 0px;
    display: inline-block;
}

.stic-date-header .main p {
    display: inline;
    color: #222;
    font-size: 15px;
}

.stic-date-header .min .order-time {
    text-transform: uppercase;
    color: #9b9ea3;
}

.stic-date-header .min .at {
    color: #9b9ea3;
}

.stic-order-details {
    margin: 5px 0;
    font-size: 15px;
    color: #6b6d70;
}

.stic-order-details .small {
    letter-spacing: 0;
    text-transform: capitalize;
}

.capitalize {
    text-transform: capitalize;
}

.stic-booking-history .review {
    padding: 10px 0 0;
    font-size: 15px;
    letter-spacing: 0;
    color: #9b9ea3;
}

.stic-order-history .review {
    padding: 10px 0;
    font-size: 15px;
    letter-spacing: 0;
}

.stic-order-history .last {
    letter-spacing: 0;
    font-size: 15px;
    padding-top: 10px !important;
}

.stic-order-history .last p {
    margin: 0;
}

.order_details_wrap ons-row ons-col:first-child {
    font-weight: bold;
    color: #333;
}

.order_details_wrap ons-row {
    padding: 10px;
}

.order_details_wrap ons-row ons-col:nth-child(2) {
    color: #626573;
    text-align: right;
}

.item-order-list {
    /* margin-top: 20px; */
}

.item-order-list p {
    color: #222;
}

.item-order-list .ingredients-label {
}

.item-order-list p span {
    color: #c2c4cc;
}

.summary-wrap .row .text-right:first-child {
    text-align: left !important;
    font-weight: bold;
    color: #333;
}

.summary-wrap .row .text-right:nth-child(2) {
    color: #626573;
}

.stic-booking-history .loaded {
    display: inline-block;
}

.stic-booking-history .reviews-qty {
    margin-left: 5px;
}

.item-order-list .b {
    line-height: 1.5;
}

#address_book .map_half {
    height: 25%;
    margin-bottom: 20px;
}

.frm_address_book,
.frm_address_book_location {
    margin-bottom: 64px;
}

#favorite_list_item .inner {
    margin: 10px 20px 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #e8eaed;
}

#favorite_list_item .rest-list-details {
    padding: 0;
}

#favorite_list_item .ratings-col {position: absolute;right: 20px;top: 10px;text-align: right;white-space: pre;}

#favorite_list_item .ratings-box {
    position: unset;
    padding: 0;
}

#favorite_list_item .stic-div-details {
    padding-right: 60px;
}

#favorite_list_item .f12 {
    margin: 5px 0;
}

#favorite_list_item .logo-col-img {
    width: 50px;
    height: 50px;
}

#favorite_list_item .logo-col {
    height: 50px;
}

#favorite_list_item .ultra-light-gray {
    margin: 10px 0 0;
    font-size: 13px;
    letter-spacing: 0;
}

.stic-loader {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
}

#stic-loader-4 span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #ff5f15;
    margin: 35px 2.5px;
    opacity: 0;
}

#stic-loader-4 span:nth-child(1) {
    animation: opacitychange 1s ease-in-out infinite;
}

#stic-loader-4 span:nth-child(2) {
    animation: opacitychange 1s ease-in-out 0.33s infinite;
}

#stic-loader-4 span:nth-child(3) {
    animation: opacitychange 1s ease-in-out 0.66s infinite;
}

@keyframes opacitychange {
    0%,
    100% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
}

.nara-progress {
    margin: 10px 0 5px;
}

.nara-progress-bar {
    width: 20%;
    height: 3px;
    position: relative;
    overflow: hidden;
    background-color: #dedede;
    margin: 10px auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    display: inline-block;
}

.nara-progress-bar.step2 {
    width: 50%;
}

.nara-progress-bar.step3 {
    width: 27%;
}

.nara-progress-bar:before {
    content: "";
    position: absolute;
    left: 0%;
    height: 3px;
    width: 40%;
    background-color: #07ad62;
    -webkit-animation: loadStep 1.5s linear infinite;
    -moz-animation: loadStep 1.5s linear infinite;
    animation: loadStep 1.5s linear infinite;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

@keyframes loadStep {
    0% {
      width: 0%;
    }
    25% {
      width: 25%;
    }
    50% {
        width: 50%;
    }
    100% {
        width: 100%;
    }
}

.full-bar,
.nara-progress-bar.full-bar:before {
    background-color: #07ad62;
}

.empty-bar,
.nara-progress-bar.empty-bar:before {
    background-color: #dedede;
}

.failed-bar,
.nara-progress-bar.failed-bar:before {
    background-color: red;
}

.successful-bar,
.nara-progress-bar.successful-bar:before {
    background-color: #07ad62;
}

#tab-home ons-icon,
#tab-search ons-icon,
#tab-orders ons-icon,
#tab-profile ons-icon,
#tab-cart ons-icon {
    color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 22px;
}

#tab-home ons-icon {
    background-image: url("../lib/icons/tab-home.svg") !important;
}

#tab-home.active ons-icon {
    background-image: url("../lib/icons/tab-home-active.svg") !important;
}

#tab-search ons-icon {
    background-image: url("../lib/icons/tab-search.svg") !important;
}

#tab-search.active ons-icon {
    background-image: url("../lib/icons/tab-search-active.svg") !important;
}

#tab-orders ons-icon {
    background-image: url("../lib/icons/tab-orders.svg") !important;
}

#tab-orders.active ons-icon {
    background-image: url("../lib/icons/tab-orders-active.svg") !important;
}

#tab-profile ons-icon {
    background-image: url("../lib/icons/tab-profile.svg") !important;
}

#tab-profile.active ons-icon {
    background-image: url("../lib/icons/tab-profile-active.svg") !important;
}

#tab-cart ons-icon {
    background-image: url("../lib/icons/tab-cart.svg") !important;
}

#tab-cart.active ons-icon {
    background-image: url("../lib/icons/tab-cart-active.svg") !important;
}

.relative {
    position: relative;
}

.search_wrapper.relative {
    margin-right: 0 !important;
}

.p0,
#select_location .search_wrapper {
    padding: 0;
}

#stic_search.filter {
    margin: 0;
}

#stic_search.filter ons-button {
    margin-right: 10px;
}

#stic_search.map {
    margin: 0 0 20px;
}

.filter .stic-icon {
    right: 0;
}

#filter ons-page,
#filter_item ons-page {
    border-radius: 20px;
}

.map .stic-icon {
    opacity: 1;
}

.stic-list-cuisine {
    margin: 0px 10px;
}

.stic-list-promo {
    margin: 20px;
}

.stic-list-cuisine .header_bg,
.stic-list-promo .header_bg {
    margin: 0 0 10px 0 !important;
    height: 70px !important;
}

.stic-list-cuisine .header_bg {
    height: 80px !important;
}

.stic-list-cuisine .list-item--material__center {
    margin-bottom: 5px;
}

.stic-list-promo .header_bg {
    height: 90px !important;
}

.stic-list-promo p.small {
    color: #ff5f15;
}

.stic-list-cuisine h4,
.stic-list-promo h4 {
    font-size: 15px;
    margin-bottom: 5px;
}

#search_field_by_cuisine_result ons-list-item {
    height: 50px;
    margin-bottom: 5px;
}

#search_field_by_cuisine_result .list-item--material__left {
    min-width: 50px;
}

.search_type {
    position: absolute;
    top: 10px;
    right: 20px;
}

.fill-white .back-button--material__icon {
    fill: #fff;
}

.fill-black {
    fill: #ff5f15 !important;
}

.min-offers-carousel .content {
    background: #f3f3f3;
    margin-right: 7px;
    padding: 5px 10px;
    word-break: break-all;
    border-radius: 14px;
    border: 1px solid #e8eaed;
}

.min-offers-carousel .loaded {
    line-height: 1.2;
}

.offer-full {
    font-size: 13px;
    line-height: 1.5;
    display: inline;
    color: #222;
}

#cart .toolbar.toolbar--material+.page__background+.page__content,
#restaurant_page .toolbar.toolbar--material+.page__background+.page__content {
    top: 0;
    background: #fff !important;
}

#cart .toolbar.toolbar--material+.page__background+.page__content {
    bottom: 30px;
    padding-bottom: 70px;
}

#cart .toast--material {
    bottom: 70px;
    letter-spacing: 0.5px;
}

.rest_qty {
    font-size: 15px !important;
    font-weight: bold !important;
}

.min34 {
    min-width: 34px;
}

.ribbon img {
    height: 15px;
    margin-left: 5px;
}

#search_results_wrapper .new-box,
#special_offers_wrapper .new-box {
    display: inline-block;
}

#restaurant_list_map .page__content {
    bottom: 0 !important;
    padding: 0;
}

#restaurant_list_map .fixed_toolbar {
    position: absolute;
    /* width: 100%; */
    /* margin-top: 44px; */
}

#restaurant_list_map .bottom-bar {
    background: transparent;
    height: auto;
}

#restaurant_list .stic-all-rest {
    margin: 10px 20px 0;
}

#restaurant_list .stic-all-rest .header_bg {
    margin-top: 10px;
}

.nara-restaurant-list .ratings-box {
    right: 0;
    top: 10px;
}

.nara-merchant-list .ratings-bo {}

.align-end {
    align-items: end;
}

.contents {
    display: contents;
}

.stic_map_review {
    margin-left: 5px;
    color: #c2c4cc;
}

.stic-restaurant-title {
    font-size: 19px !important;
    display: inline-block;
    font-weight: 900 !important;
    margin-right: 5px !important;
}

.stic-item-title {
    display: inline-block;
    text-shadow: 1px 0 #333;
    color: #333;
    margin: 0 !important;
    font-weight: bold !important;
}

.title-col {
    margin: 0;
    overflow: auto;
    width: auto;
}

.rest-offers-carousel .content {
    background: #fff;
    box-shadow: 0 5px 20px 0 rgba(30, 40, 50, 0.1) !important;
    padding: 7px 15px;
    margin-right: 10px;
    border-radius: 10px;
}

.rest-offers-carousel .offer-full {
    font-size: 12px;
}

.rest-offers-carousel img {
    width: 16px;
    margin-bottom: -2px;
}

#restaurant_page .stic-lateral-wrap {
    margin: 0;
}

#restaurant_page .stic-lateral-wrap .stic-carousel {
    padding: 7.5px 20px;
    width: 100%;
    background: #f3f3f3;
    margin-bottom: 10px;
}

#item_details .stic-lateral-wrap.item-carousel {
    margin: -10px 5px 20px
}

.stic-share {
    background-color: #fff;
    margin-right: 15px;
    padding: 0;
    height: 34px;
    width: 34px;
    text-align: center;
    border-radius: 14px;
    border: 2px solid #e8eaed;
    display: block;
    line-height: 42px;
}

.stic-share img {
    width: 16px;
    vertical-align: text-top;
    filter: grayscale(1) brightness(2);
}

.stic-share-position {
    padding: 20px 20px 5px;
    display: flex;
    background: #fff;
    border-radius: 20px 20px 0 0;
    margin-top: -20px;
    position: relative;
}

.stic-more {
    align-self: center !important;
}

.stic-more span {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #626573;
}

.stic-more img {
    width: 16px;
    opacity: .5;
}

.stic-more .loaded {
    display: inline-block;
}

.stic-standart-bold {
    font-size: 17px;
    color: #222;
    font-weight: 900;
    letter-spacing: 0;
}

.bborder {
    border-bottom: 1px solid #e8eaed;
}

.bborder2 {
    border-bottom: 1px solid #e8eaed;
    margin: 0 20px;
    padding: 0;
    width: auto;
}

.nara-view-order .bborder2 {border-bottom: 1px solid #e8eaed;width: 100%;margin: 15px 0px 10px;}

.expanded .top {
    border-bottom: 1px solid #e8eaed;
}

.stic-items .center {
    padding: 0;
}

.stic-item {
    padding: 20px 0 !important;
    margin: 0;
}

.stic-item price,
.stic-column price {
    color: #333;
    display: block;
}

.stic-dish {
    width: auto;
    display: inline-block;
    margin-left: 5px;
}

.stic-dish-item {
    position: absolute;
    top: 20px;
    right: 20px;
    background: #fff;
    height: 25px;
    width: 25px;
    border-radius: 20px;
    text-align: center;
    line-height: 35px;
    box-shadow: 0 5px 20px 0 rgba(30, 40, 50, 0.1);
}

.stic-item-desc {
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp:1; /* number of lines to show */
   -webkit-box-orient: vertical;
}

#resto_list_category p,
#resto_list_item p {
    color: #9b9ea3;
}

.item-list-header {
    font-size: 18px;
    color: #333 !important;
    background: none !important;
    border-bottom: 1px solid #e8eaed;
    padding: 0;
    margin: 15px 20px 5px;
    padding-bottom: 10px;
}

.rounded-search ons-search-input {
    border-radius: 30px;
    border: 1px solid #e8eaed;
    padding: 0 15px;
    display: block;
    width: auto !important;
}

.rounded-search {
    position: relative;
    margin-top: 20px !important;
    margin-bottom: 5px !important;
}

.rounded-search .stic-icon {
    top: 0 !important;
    right: 15px;
}

#resto_list_category ons-list-item .stic-standart-bold {
    margin: 5px 0;
}

#resto_list_category ons-list-item,
#resto_list_item ons-list-item {
    background: #fff;
    background-image: none;
    border-bottom: 1px solid #e8eaed;
}

#resto_list_category .list-item__top {
    border-bottom: 1px solid #e8eaed;
}

.cart-btn {
    display: none;
    position: fixed;
    bottom: 30px;
    left: 20px;
    right: 20px;
    height: 50px;
    z-index: 99;
}

#resto_list_category,
#resto_list_item {
    margin-bottom: 74px;
}

.item-row label {
    display: inline-block;
}

.item-row label span {
    line-height: 36px;
}

.quantity_wrap .minus ons-button {
    border: 2px solid #e8eaed;
    background: #fff;
    color: #ff5f15;
}

#about_wrapper {
    margin: 0 20px;
}

.stic-desc-header {
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #e8eaed;
    margin-top: 10px;
}

.stic-desc-full .button--link_button {
    color: #ff5f15;
    font-size: 14px;
    margin-top: 10px;
    text-decoration: underline;
}

.content_page .list-item--material {
    padding: 0;
}

.opening_hours li {
    padding: 5px;
}

.opening_hours li:nth-child(odd){
    background: #f3f3f3;
}

.day-row p {
    margin: 0;
}

.booking-div {
    margin-top: 15px;
}

.review-item-list {
    background: #fff;
    background-image: none !important;
}

.review-item-list .center {
    background: #fff;
    padding: 15px 0;
    border-bottom: 1px solid #e8eaed;
}

.review-customer-name {
    font-size: 16px !important
}

.review-date {
    font-size: 12px !important;
    margin: 0 0 5px;
    color: #c2c4cc;
}

.review-text {
    color: #626573 !important;
}

.stic-right-text {
    text-align: right !important;
}

.stic-successful {
    width: 100px;
}

.text-center {
    text-align: center !important;
}

#contact_us_ty .content-wrap,
#booking_receipt .content-wrap,
#driver_ty .content-wrap {
    margin: 45% auto auto;
}

.print_booking_message,
#driver_ty .small,
#contact_us_ty .small {
    margin: 0 50px !important;
}

.stic-item-wrap price {
    color: #333;
    font-weight: bold;
    margin-bottom: 15px;
}

.cart_merchant_name h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.item-details-row {
    margin-top: -5px;
}

.item-details-row .mr5true {
    text-transform: capitalize;
}

.item-details-row .tag_discount {
    margin-right: 5px;
}

.cart_details .cream_header {
    margin-bottom: 15px;
    background: #fff;
}

.cart_details .list-header--material {
    padding: 15px 20px 5px;
    background-image: none;
}

.cart_details .list-item--chevron__right,
.pr20 {
    padding-right: 20px;
}

#stic-cart-divider {
    background: #eee;
    width: auto;
    height: 5px;
    border-radius: 10px;
    margin: 10px 20px;
}

.stic-min-grey-btn {
    padding: 0;
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: bold;
    color: #626573;
    letter-spacing: .5px;
    min-height: 40px;
    border-radius: 3px;
    line-height: 40px;
    background: #eee;
    width: 60px;
}

.stic-voucher-row ons-input {
    width: 100%;
}

.stic-tips-row ons-select {
    width: 100% !important;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #e8eaed !important;
}

.stic-tips-row select {
    text-transform: capitalize;
}

.stic-options-list {
    padding: 0;
    margin: 0 20px;
    width: auto;
}

.stic-options-list .nara-date,
.stic-options-list .nara-time {
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    padding: 10px 0;
    border: 2px solid #e8eaed;
}

.stic-options-list .nara-date p,
.stic-options-list .nara-time p{
    margin: 0;
}

.stic-options-list .right {
    line-height: 48px;
}

.stic-options-list.address {
    margin: 10px 20px 0;
    padding: 10px 20px 10px 0px;
    border-radius: 10px;
    background: rgba(234, 29, 45, 0.09);
}

.stic-options-list.address img{
    width: 18px;
    vertical-align: text-top;
}

.stic-options-list.address .right {padding: 0;width: -webkit-fill-available;}

.stic-options-list.address.list-item--chevron:before {
    right: 15px;
    border-color: #f0b6bb;
}

.stic-options-list.address .left {padding-left: 11px;}

.stic-options-list.address .right span {
    line-height: 1.3;
    color: #ff5f15;
    width: 100%;
    margin: auto;
    padding: 0;
    font-size: 15px;
}

.stic-options-list.list-item--chevron:before {
    right: 0;
}

.stic-total-row {
    border: none;
    background: #eee;
    color: #fff;
    padding: 0 20px;
    border-radius: 10px;
    margin: 20px;
    width: auto;
}

.stic-total-row div {
    color: #222;
    font-size: 17px;
    letter-spacing: .5px;
}

.stic-mobile-num {
    width: 100%;
    padding: 0 10px;
    background: #f3f3f3;
}

.column-bold-only .left {
    padding: 0;
}

.receipt-min-row ons-col {
    min-height: 30px !important;
}

.addressbook_loader .no_order_wrap {
    position: absolute;
    width: auto;
    top: 0;
    padding: 50% 15% 0;
    margin-top: 65px;
}

#view_order .inner ons-row:nth-child(even) {
    background: #fff;
}

#view_order .inner ons-row:nth-child(odd) {
    background: #f3f3f3;
}

#track_history .thumbnail,
#cancel_order_form .thumbnail,
#add_review .thumbnail {
    border-radius: 30px;
}

#restaurant_page .green_tag.close {
    left: 0;
    right: 0;
    height: 150px;
    line-height: 150px;
}

.content_page .payment {
    letter-spacing: 0;
}

.page__content {
    overflow-x: hidden !important;
}

.stic-half-col.float-r {
    text-align: right;
}

.stic-skip {
    position: absolute;
    top: 0;
    right: 20px;
    border: none;
    padding: 0;
    letter-spacing: 1px;
    border-radius: 0px;
}

#restaurant_page .green_tag {
    top: unset;
    right: 20px;
}

.RTL .stic_rtl_right {
    float: right !important;
}

.RTL .stic_rtl_left {
    float: left !important;
}

.RTL .stic-skip {
    left: 20px;
    right: unset;
}

.RTL .stic-login {
    margin: auto auto auto 0;
}

.RTL .stic-icon,
.RTL .search_type {
    left: 20px;
    right: unset;
}

.RTL ons-carousel {
    direction: ltr;
}

.RTL .stic-title ons-icon,
.RTL .stic-header-icon {
    margin-right: unset;
    margin-left: 25px;
}

.RTL .stic-half-col.float-r,
.RTL #stic_search .stic-icon {
    text-align: left;
}

.RTL .stic-half-col.float-l,
.RTL .stic-div-details,
.RTL #stic_search input {
    text-align: right;
}

.RTL .view-btn {
    left: 16px;
    right: unset;
}

.RTL .view-btn ons-icon,
.RTL .stic-more img {
    transform: rotate(180deg);
}

.RTL .logo-col {
    left: 25px;
    right: unset;
}

.RTL .stic-score {
    margin-right: 5px;
    margin-left: unset;
}

.RTL .rest-info img {
    margin-left: 3px;
    margin-right: unset;
}

.RTL .mr5 {
    margin-left: 7.5px;
    margin-right: unset;
}

.RTL .home-search-section img {
    left: 40px !important;
}

.RTL .title-col {
    margin: 20px 20px 0 0;
}

.RTL .banner .logo {
    left: 18px;
    right: unset;
}

.RTL .stic-share-position {
    left: 90px;
    right: unset;
}

.RTL #map_enter_address .list-item--material__icon {
    padding-left: 20px;
    padding-right: unset;
}

.RTL .flex.mt5 img {
    transform: scaleX(-1);
}

.RTL .form_wrapper .text-input--material {
    padding-left: 20px;
    padding-right: 0;
}

.RTL .min-carousel-wrap {
    text-align: right;
    direction: rtl;
}

.RTL .ratings-box {
    direction: rtl;
    left: 0;
    right: unset;
    margin-left: 26px;
    margin-right: unset;
}

.RTL .ribbon .stic-store-dot {
    margin-right: 5px;
    margin-left: unset;
}

.RTL .text-input--material__label--active {
    transform-origin: right top;
}

.RTL .button--darker_orange_button {
    margin-left: 20px;
}

.RTL .button--blue_button {
    margin-right: 20px;
}

.RTL .search_wrapper.relative {
    margin-right: 20px !important;
    margin-left: 0 !important;
}

.RTL .stic-date-header .dot {
    margin: 0 0 0 5px;
}

.RTL .search_wrap2 ons-col,
.RTL ons-list-header {
    text-align: right;
}

.RTL .button--small_button {
    padding: 0;
}

.RTL #restaurant_list_map .stic-carousel ons-carousel-item,
.RTL #restaurant_page ons-bottom-toolbar {
    direction: rtl;
}

.RTL #restaurant_page .list-item--list_item_category .list-item_square_thumbnail {
    float: left;
}

.RTL .cart_details .f15 {
    text-align: right;
}

.RTL .cart_details .mr5true {
    margin-right: 5px !important;
    margin-left: unset;
}

.RTL .stic-options-list.address .right {
    margin-right: 50px;
    margin-left: unset;
}

.RTL .white_list_wrapper ons-icon {
    transform: scaleX(-1);
}

.RTL .cream_header {
    text-align: right;
}

.RTL .page,
.RTL .page--material,
.RTL .page--material__content,
.RTL .page__content h1,
.RTL .page__content h2,
.RTL .page__content h3,
.RTL .page__content h4,
.RTL .page__content h5,
.RTL .page--material__content h1,
.RTL .page--material__content h2,
.RTL .page--material__content h3,
.RTL .page--material__content h4,
.RTL .page--material__content h5,
.RTL .notification,
.RTL .notification--material,
.RTL .toolbar--material__center,
.RTL .toolbar--material__left,
.RTL .toolbar--material__right,
.RTL .button,
.RTL .button--quiet,
.RTL .button--cta,
.RTL .button--large--quiet,
.RTL .button--large--cta,
.RTL .button--material,
.RTL .button--material--flat,
.RTL .button-bar,
.RTL .button-bar__button,
.RTL .button-bar__item,
.RTL .segment,
.RTL .segment__button,
.RTL .segment--material__button,
.RTL .tabbar,
.RTL .tabbar__item,
.RTL .tabbar__label,
.RTL .tabbar--material__button,
.RTL .tabbar--material__label,
.RTL .tabbar--material__label:first-child,
.RTL .toolbar-button,
.RTL .checkbox,
.RTL .checkbox--noborder,
.RTL .checkbox__checkmark,
.RTL .checkbox--material,
.RTL .radio-button__checkmark,
.RTL .radio-button--material,
.RTL .list,
.RTL .list--material,
.RTL .list-title,
.RTL .list-title--material,
.RTL .search-input,
.RTL .search-input--material,
.RTL .text-input,
.RTL .text-input--underbar,
.RTL .text-input--material,
.RTL .text-input--material__label,
.RTL .textarea,
.RTL .textarea--transparent,
.RTL .dialog,
.RTL .dialog--material,
.RTL .alert-dialog,
.RTL .alert-dialog-title,
.RTL .alert-dialog-button,
.RTL .alert-dialog-content--material,
.RTL .alert-dialog-title--material,
.RTL .alert-dialog-button--material,
.RTL .popover__content,
.RTL .modal,
.RTL .modal__content,
.RTL .select-input,
.RTL .select-input--material,
.RTL .select-input--material__label,
.RTL .action-sheet,
.RTL .action-sheet-button--material,
.RTL .action-sheet-title--material,
.RTL .card,
.RTL .card__title,
.RTL .card--material,
.RTL .card--material__title,
.RTL .toast,
.RTL .toast--material__button,
.RTL .toast--material__message {
    font-family: "Tajawal";
}

.RTL .home-user-lateral {
    text-align: right;
}

.RTL .back-button--material {
    transform: rotate(180deg);
}

.RTL .stic-options-list.list-item--chevron:before {
    left: 0;
    transform: rotate(180deg);
}

.RTL .pr20 {
    padding-right: 0;
    padding-left: 20px;
}

.RTL .pl20 {
    padding-left: 0;
    padding-right: 20px;
}

.RTL .points-earn,
.RTL .green_label {
    text-align: right;
}

.RTL .stic-text-left {
    text-align: right !important;
}

.RTL .stic-text-right {
    position: absolute;
    text-align: left !important;
}

.RTL .stic-text-right ons-icon {
    float: left;
    transform: rotate(180deg);
}

#home .stic-gray-bg {
    padding-bottom: 20px;
}

.pre-order {
    left: unset;
    right: 15px;
    font-size: 11px;
    letter-spacing: 0.5px;
    font-weight: bold;
    border-radius: 10px;
}

.stic-camera {background: #fff;height: 50px;line-height: 50px;width: 50px;padding: 0;text-align: center;border-radius: 50px;box-shadow: 0 5px 20px 0 rgb(30 40 50 / 10%) !important;margin-top: 30px;position: absolute;top: 0;right: 20px;}

ons-toolbar .stic-camera {
    margin-top: 0;
}

.formatted_address {
    -webkit-appearance: textfield;
    color: #6b6d70;
    padding-bottom: 6px;
    font-size: 15px;
    line-height: 1.8;
}

.stic-food-promo .header_bg {
    height: 140px !important;
    margin: 0 !important;
}

.stic-food-promo .stic-cuisine {
    color: #fff;
    background: #ff5f15;
    border-radius: 25px;
    padding: 0px 5px;
    font-size: 13px;
    display: inline-block;
}

.stic-food-promo .tag_discount {
    color: #eee;
}

.over-hidden {
    overflow: hidden;
}

.stic-lateral-wrap h5 {
    color: #222;
}

.stic-food-promo .carousel-content {
    padding: 0;
}

.stic-food-promo .min-carousel-wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}

.stic-food-promo .min-carousel-wrap h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #fff;
}

.stic-food-promo .min-carousel-wrap p {
    color: #ff5f15;
}

.stic-promo-shadow {
    background: linear-gradient(15deg, rgba(0, 0, 0, .4) 5%, rgba(0, 0, 0, .2) 35%, rgba(0, 0, 0, 0) 65%);
    position: absolute;
    top: 0;
    left: 0;
    right: 5px;
    height: 100%;
    border-radius: 3px;
}

.desc-margin {
    margin: 10px 0 20px;
}

#floating_category_list .list-item:first-child {
    margin-top: 15px;
}

#floating_category_list .list-item:last-child {
    margin-bottom: 15px;
}

.stic-support-title {
    background: transparent !important;
}

.nara-tip-bg {
    background: #f3f3f3;
}

.tip_carousel .carousel-content {
    padding: 0;
    background: transparent;
}

.stic-total-row.address-field .right {
    display: none;
}

.stic-column {
    padding: 0 !important;
}

#resto_list_item .list-item .center {
    padding: 0;
}

.stic-column .header_bg {
    margin: 0 0 10px !important;
}

.stic-home-categories .header_bg {
    margin: 0 !important;
}

.nara-home-categories {
    background-color: rgba(234, 29, 45, 0.09);
    border-radius: 50px;
    width: 65px;
    height: 65px;
    margin: auto;
}

.nara-home-categories img {
    width: 44px;
    margin: auto;
    vertical-align: middle;
}

.nara-home-categories .banner {
    width: 45px;
    height: 45px;
    padding: 10px;
    display: grid;
}

.nara-home-categories .banner .loaded {
    margin: auto;
}
.stic-column-content {
    padding: 5px 0;
}

.stic-column-content p {
    white-space: normal;
    padding-top: 5px !important;
}

#resto_list_category .stic-column {
    padding: 0 10px !important;
    margin: -5px 0;
}

#resto_list_item .list-item .stic-column {
    margin-bottom: 20px;
}

#resto_list_item .list-item .stic-column:nth-child(odd) {
    padding-right: 10px !important;
}

#resto_list_item .list-item .stic-column:nth-child(even) {
    padding-left: 10px !important;
}

.stic-column .col-title {
    font-size: 16px;
    color: #333;
    display: inline;
}

.stic-column-content .stic-desc-4 {
    margin: 10px 0;
    font-size: 13px;
}

.row-inline {
    display: inline;
}

.row-inline ons-col,
.stic-display {
    display: inline-table;
}

.nara-dish {
    padding: 0 !important;
    display: inline-block;
}

.device-id {
    text-align: right;
    word-break: break-all;
}

.min-offers-carousel img,
.pink_tag img {
    width: 13px;
    padding-top: 2px;
    padding-right: 4px;
    vertical-align: text-top;
}

.min-offers-carousel img {
    vertical-align: middle;
    padding-top: 0;
}

#cod_forms .check-order {
    background-image: none;
    padding: 0 20px 20px;
}

.check-order #stic-order-list {
    pointer-events: none;
}

.check-order .bold.darkblue {
    margin-bottom: 10px;
}

.check-order .remove,
.check-order .clear-cart {
    display: none;
}

.check-order .expandable-content {
    pointer-events: none;
    background: #f3f3f3;
    padding-top: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.order_total {
    /* margin-bottom: -20px; */
}

.list_view_all ons-icon {
    margin: 0;
}

.stic-home-categories {
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px !important;
    padding-top: 20px;
}

.stic-home-categories .inner {
    flex: 1 0 19%;
    margin: auto;
    max-width: 19%;
    text-align: center;
}

.stic-home-categories .header_bg {
    height: 12.1vw !important;
    padding: 0;
    background-color: transparent !important;
}

#home .stic-home-categories .header_bg {
    background-size: contain !important;
    background-repeat: no-repeat;
}

.stic-qty .text-input--material {
    border: none !important;
    height: unset;
}

.stic-share-item {
    margin: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    background: #fff;
    height: 50px;
    display: block;
    width: 50px;
    text-align: center;
    border-radius: 40px;
    line-height: 58px;
    box-shadow: 0 5px 20px 0 rgb(30 40 50 / 10%);
}

.stic-share-item img {
    width: 16px;
}

.stic_order_list .button_cart {
    display: none;
}

.stic-fake-img {
    height: 40px;
}

#notifications_list_item,
#points_details_item,
.order_details_header,
#cancel_order_form .iphonex_margin {
    margin-top: 20px;
}

#tip_amount input {
    height: 44px;
    width: 100%;
    border: none !important;
    padding-left: 10px;
}

#tip_amount span.text-input--brown_text__label {
    line-height: 2;
}

#frm_tip .button--black_button {
    background: #ff5f15;
    height: 44px;
    line-height: 44px;
    max-width: 94px;
    width: 94px;
    font-size: 14px;
    padding: 0;
}

.dialog--small_dialog {
    min-width: 300px;
    height: 80px;
}

.stic-textarea {
    background: #eee;
}

.stic-trans-btn {
    display: block;
    margin: 20px 40px 0;
    width: -webkit-fill-available;
    background: transparent;
    border-radius: 25px;
    height: 50px;
    color: #222;
    border: 2px solid #e8eaed;
    box-shadow: none;
    font-weight: 400;
}

ons-bottom-toolbar .letsgo {
    margin: 0 20px;
    border-radius: 25px;
    width: -webkit-fill-available;
}

.stic-sms-sub {
    margin: 20px;
}

.stic-sms-sub p {
    color: #626573;
    font-size: 14px;
}

.stic-sms-sub ons-button {
    border: 1px solid #ff5f15;
    border-radius: 2px;
}

#stic-col {
    background: none;
    box-shadow: none !important;
    border: none;
    margin-bottom: 20px;
}

#stic-col .col-itself {
    padding: 0;
    background: #fff;
    position: relative;
}

#stic-col .col-itself .header_bg {
    margin: 0;
}

#stic-col .col-itself:first-child {
    padding: 0 10px 0 0;
}

#stic-col .col-itself:nth-of-type(2) {
    border-left: 1px solid #e8eaed;
    padding: 0 0 0 10px;
}

#stic-col .min-carousel-wrap {
    margin: 0;
}

#stic-col .header_bg {
    width: auto;
}

#stic-col .stic-score {
    word-break: break-all;
    display: contents;
}

#stic-col .green_tag.open {position: absolute;right: 10px;}

#stic-col .green_tag.close {
    top: 0;
    left: 0;
    right: 0;
}

#stic-col .rest-info p {
    font-size: 12px;
}

#stic-col .rest-info.new p {
    font-size: 10px;
}

#stic-col .pink_tag {
    margin-bottom: -7px;
}

#address_form .stic-position-btn {
    position: absolute;
    right: 0;
    top: 200px;
}

#address_form .stic-position-btn ons-icon {
    padding: 10px;
}

/*#item_details .back-button--material__icon {
    background: rgba(0, 0, 0, 0.4);
    padding: 0px 14px;
    border-radius: 30px;
    box-shadow: 0 5px 20px 0 rgba(30, 40, 50, 0.1);
    height: 44px;
    margin-top: 20px;
}
*/
.button--rounded_button {
    margin: 0 20px;
    display: block;
    width: auto;
}

.bottom-bar {
    height: auto;
    padding-bottom: 30px;
    background: #fff;
}

.bottom-bar .button--to_orange {
    margin: 0 40px;
    display: block;
    width: auto;
}

.search_wrap1 .button--to_orange {margin: 0 20px;}

.item_details_wrap .fake-toolbar {
    height: 84px;
}

.country_code.select {
    width: 100%;
}

#search_form_result ons-list-item {
    border-bottom: 1px solid #e8eaed;
    padding: 5px 0;
    margin: 0 20px;
    width: auto;
}

.circular_main .estimation_merchant {
    font-size: 18px;
    font-weight: bold;
}

.stic-search-price {
    display: grid;
}

.stic-text-left {
    text-align: left !important;
}

.stic-text-right {
    text-align: right !important;
}

#cart ons-toolbar,
#restaurant_page ons-toolbar {
    background: transparent;
    margin-top: 20px;
}

#cart ons-toolbar .left,
#restaurant_page ons-toolbar .left {
    background: #fff;
    border-radius: 50%;
    height: 50px;
    margin-left: 20px;
    min-width: 50px;
    text-align: center;
    box-shadow: 0 5px 20px 0 rgba(30, 40, 50, 0.1);
}

#cart ons-back-button,
#restaurant_page ons-back-button {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}

#cart ons-back-button span,
#restaurant_page ons-back-button span {
    margin: 0;
    /* position: absolute; */
    /* left: 14px; */
}

#restaurant_page #stic_search {
    background-color: #fff;
}

#frm_tip ons-input {
    margin: 0;
}

.stic-notify-btn {
    position: absolute;
    right: 94px;
    z-index: 10;
    width: 40px;
    padding: 0;
    margin-top: -105px;
}

.title-col .button--text_to_black {
    color: #666;
}

.title-col .button--to_text_orange {
    color: #ff5f15;
}

.stic-cat-desc {
    color: #6b6d70;
    letter-spacing: 0;
    padding-bottom: 5px;
}

.dim_background {
    background: transparent;
}

.dim_background .bottom-bar {
    background: transparent;
}

.dim_background .to_text_white {
    color: #222;
    padding: 0 20px;
    margin: 0;
    text-align: left;
}

.nara-skip {
    position: absolute;
    top: 44px;
    right: 0;
}

.nara-skip span {
    color: #6b6d70;
    font-size: 15px;
}

.cream_header p.small {
    font-size: 15px;
}

#create_account .list-item--material__left {
    min-width: 30px;
}

.nara-delivery-to {
    text-align: center;
    line-height: 1;
    margin-bottom: 10px;
}

.nara-delivery-to div {
    display: contents;
}

.nara-get-location {
    vertical-align: super;
    font-size: 16px;
}

#home .white_list_wrapper {
    border-top: 10px solid #f5f5f5;
    margin-top: 20px;
}

.nara-home-divider {
    width: 100%;
    background-color: #fff;
    height: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.nara-home-top-bg {
    background-color: #ff5f15;
    margin-bottom: -20px;
}

.nara-score {
    font-weight: bold;
    color: #222;
    padding-right: 3px;
}

.nara-reviews-count {
    color: #9b9ea3;
    font-size: 11px;
}

.nara-rest-info .nara-reviews-count {
    vertical-align: middle;
    font-size: 13px;
}

.nara-rest-info {
    display: block;
    margin-top: 3px;
}

.stic-carousel ons-carousel-item:last-child .ratings-box {
    right: 10px;
}

#list_all_restaurant .header_bg {
    /* display: none; */
    margin-top: 10px;
}

#restaurant_list .rest-info.new,
.all_restaurant_wrapper .rest-info.new {
    display: block;
    margin: 0;
}

#restaurant_list .rest-info.new{
    margin: 0 0 4px;
}

#list_restaurant .nara-rest-details,
.all_restaurant_wrapper .nara-rest-details {
    margin: 10px 0 0;
    display: block;
}

#restaurant_list .stic-div-details,
.all_restaurant_wrapper .stic-div-details {
    align-content: center;
    display: grid;
}

#restaurant_list .stic-div-details h4,
.all_restaurant_wrapper .stic-div-details h4{
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 5px;
}

#restaurant_list .ratings-box,
.all_restaurant_wrapper .ratings-box {
    right: 10px;
}

#restaurant_list .stic-promo,
.all_restaurant_wrapper .stic-promo {
    width: -webkit-fill-available;
    background: #f3f3f3;
    border-radius: 0 0 14px 14px;
    border-bottom: 1px solid #ddd;
}

.nara-restaurant-list .stic-promo {
    border-radius: 10px;
    margin-bottom: 10px;
}

#restaurant_list .pre-order,
.all_restaurant_wrapper ons-list-item .pre-order {
    position: unset;
    background: none;
    color: #07ad62;
    text-transform: uppercase;
    display: inline-block;
    font-size: 11px;
    padding: 0;
}

.col-itself .pre-order {
    position: absolute !important;
    right: 10px;
    top: 10px;
    background: #07ad62 !important;
    color: #fff !important;
    padding: 0 5px !important;
}

.stic-promo .concat_text {
    font-size: 11px;
    width: fit-content;
    color: #6b6d70;
    letter-spacing: 0.2px;
}

.home_list_loader.bottom_loader {
    font-size: 13px;
    margin-top: 20px;
    color: #969696;
}

.stic-home-categories,
.home_banner.white_list_wrapper,
.white_list_wrapper#cuisine_list_wrapper {
    border: none !important;
}

.home-user-btn {
    display: -webkit-box;
    margin: 5px 20px 0 0;
    float: right;
}

.col-itself.close {
    display: none;
}

.stic-min-active {
    background: rgba(234, 29, 45, 0.09);
    border: none;
    padding: 2px;
}

.stic-min-active img {filter: unset;}

#profile .list-item--material ons-icon {
    color: #ff5f15;
    margin: auto;
}

.title-col .ratings-box {
    position: unset;
    padding: 0;
    background: none;
    font-size: 15px;
    vertical-align: top;
}

.title-col .ratings-box span {
    font-weight: normal;
}

.title-col .gold-color {
    font-size: 12px;
    vertical-align: middle;
}

.nara-rest-title {
    margin: 10px 20px 0;
    width: auto;
}

.nara-rest-details {
    margin: 20px 20px 10px;
}

.nara-rest-details .rest-info {
    background: transparent;
    padding: 0;
    margin-right: 10px;
}

.nara-rest-details .rest-info:last-child {
    margin: 0;
}

.nara-rest-details .rest-info img {
    background-color: #f3f3f3;
    padding: 5px;
    border-radius: 7px;
}

.nara-search {
    position: absolute;
    right: 20px;
}

.nara-search .stic-share {
    background: transparent;
    margin-right: 0;
}

.nara-search img {
    filter: unset;
}


#nara-receipt .nara-qty-btn {
    float: unset;
    margin: 5px 20px 0;
}

.nara-qty-btn {
    width: 70px;
    float: right;
    background: #f3f3f3;
    border-radius: 20px;
}

.basket_toolbar ons-button {
    padding: 0;
}

.basket_toolbar ons-button .stic-text-left {
    color: #222;
    letter-spacing: 0.5px;
}

.basket_toolbar ons-button .stic-text-right {
}

.basket_toolbar ons-button .basket_total {
    font-weight: normal;
}

.nara-qty-btn .full_width {
    height: 21px;
    min-height: 21px;
    line-height: 22px;
}

.nara-item-qty {
    padding: 0 20px;
}

ons-bottom-toolbar .nara-item-qty {
}

.nara-item-qty ons-input {
    height: 50px;
}


.nara-item-qty .button--to_orange {
    margin: 0;
}

.nara-item-qty .quantity_wrap ons-button {
    height: 50px;
    line-height: 50px;
}

#item_details .page__content {
    /* bottom: 98px; */
}

.day-row .left p {
    color: #6b6d70;
}

.nara-cards ons-icon {
    background: #f3f3f3;
    padding: 4px;
    border-radius: 15px;
    color: #666;
}

.nara-cards .loaded {
    background: #f3f3f3;
    padding: 0;
    border-radius: 15px;
    height: 28px;
    width: 28px;
    text-align: center;
}

.nara-cards .provider_img {
    vertical-align: -webkit-baseline-middle;
}

#cuisine_list .list--list_cuisine_style ons-col {
    padding: 0 10px;
}

.action-sheet,
.action-sheet .list-header {
    border-radius: 20px;
}

.action-sheet .button--large {
    margin: 0 30px 20px;
    width: -webkit-fill-available;
}

#filter .bottom-bar {
    background: transparent;
    padding-bottom: 20px;
}

.nara-map-fab {
    bottom: 44px !important;
}

.nara-map-fab img {
    width: 18px;
    vertical-align: text-bottom;
}

.action-sheet .page__content {
    padding-top: 0 !important;
    overflow-y: visible !important;
}

#filter_item .bottom-bar {padding-bottom: 0;}

#search #stic_search .stic-icon,
#search_item #stic_search .stic-icon {
    right: 35px;
}

.nara-restaurant-list {
    box-shadow: none !important;
    border-radius: 0 !important;
    border-bottom: 1px solid #e8eaed;
}

.nara-restaurant-list .rest-list-details {
    padding: 0 0 5px;
}

.nara-restaurant-list .ratings-box {
    top: 0;
    right: 0 !important;
    background: none;
    padding: 0;
}

.nara-restaurant-list .stic-promo {
    background: #f3f3f3;
    border: none !important;
    padding: 2px 7px;
    width: fit-content !important;
    border-radius: 10px !important;
}

#restaurant_list .col-itself .rest-info {
    margin: 0 5px 0 0;
}

#restaurant_list .col-itself .rest-info:nth-of-type(2),
#restaurant_list .col-itself .rest-info:nth-of-type(4) {
    margin: 0;
}

#restaurant_list .col-itself .rest-info.new {
    margin: 10px 0 -7px;
}

#restaurant_list .nara-restaurant-list .green_tag.close {
    font-size: 0;
    position: unset;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    width: 10px;
    height: 10px;
    line-height: 0;
    background: #f03d30;
}

.menu_loader .small.padding:before {
    content: ' ';
    background-image: url("../lib/icons/empty-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    height: 85px;
    margin-bottom: 15px;
}

.menu_loader p.small.padding {
    padding: 0 60px;
}

.alert-dialog-button--rowfooter:first-child {
    background: #ff5f15;
    color: #fff;
    border-radius: 12px;
    margin: 10px 20px 20px;
}

.alert-dialog-button--rowfooter:nth-child(2) {
    margin: 10px 20px 20px 0px;
    border-radius: 10px;
    border: 2px solid #e8eaed;
}

.carousel_small ons-carousel-item .ripple {
    border-radius: 40px;
}


.stic_dark_theme {
    width: 46px;
}

.stic_dark_theme .switch__handle {
    top: 4px;
}

.stic_dark_theme .switch--material__handle {
    background: #fff;
    left: 4px;
    width: 16px;
    height: 16px;
}

.stic_dark_theme .switch--material__toggle {
    background: #eee;
    margin-top: 0;
}

.stic_dark_theme .switch--material__toggle:before {
    content: '';
    position: absolute;
    background-image: url("../lib/icons/day-colored.svg") !important;
    background-size: contain;
    width: 16px;
    height: 16px;
    right: 4px;
    top: 4px;
}

.stic_dark_theme :checked+.switch--material__toggle:before {
    content: '';
    position: absolute;
    background-image: url("../lib/icons/night.svg") !important;
    background-size: contain;
    width: 16px;
    height: 16px;
    left: 4px;
    top: 4px;
}

.stic_dark_theme :checked+.switch--material__toggle>.switch--material__handle {
    left: 26px;
}

.nara-order-details {margin: -20px 0 15px !important;padding: 15px 140px 0 20px;position: relative;border-radius: 20px;}

#cart .bborder2 {
   border-bottom: 5px solid #f3f3f3;
}

.nara-ordering-at {
    position: relative;
    padding: 25px 75px 35px;
    width: -webkit-fill-available;
    text-align: center;
    background-size: cover;
    min-height: 50px;
    background-position: center;
}

.nara-ordering-at p {
    position: relative;
    z-index: 1;
    margin: 0;
    color: #dedede;
}

.nara-inside,
.nara-ordering-at .inside_banner,
.carousel_banner:after {left: 0;top: 0;z-index: 0;background: linear-gradient(0deg, rgba(0,0,0,.75) 5%, rgba(0,0,0,.6) 40%, rgba(0,0,0,.35) 60%);border-radius: 0;}

.nara-inside,
.carousel_banner:after {
    /*content: '';*/
    right: 0;
    position: absolute;
    /* height: 120px; */
    margin-top: 64px;
}

.nara-ordering-at .bold {
    font-size: 17px;
    color: #fff !important;
    line-height: 1;
}

.nara-clear-cart {
    text-align: right;
    margin-right: 20px;
}

.nara-clear-cart img {
    width: 15px;
    margin-right: 5px;
    vertical-align: middle;
}

.nara-clear-cart span {
    font-size: 13px;
    font-weight: bold;
    color: #222;
}

.nara-item-notes,
.nara-item-notes ons-list-header {
    background: #eee;
    border-radius: 10px;
    margin: 15px 20px;
}

.nara-item-notes ons-list-item {
    padding: 10px 15px;
}

.nara-item-notes .list-item--normal_list__right {
    padding: 0;
}

.nara-item-notes ons-list-header {font-size: 15px;font-weight: bold;padding: 0 !important;margin: 0 15px -10px;}

#points_list_item {
    padding-top: 10px;
}

.nara-points {
    height: 100%;
}

.nara-points .score {background: #ff5f15;border-radius: 10px;height: 100%;margin-right: 15px;text-align: center;line-height: 38px;color: #fff;font-weight: bold;min-width: 38px;}

#receipt .expandable-content {
    border: none;
    padding-top: 20px;
}

.nara-successful {
    text-align: center;
    margin: 0 60px 30px;
}

.nara-successful ons-row {
    margin-left: 30px;
    padding-right: 30px;
    width: auto;
}

.nara-successful img {
    width: 70px;
}

.nara-successful h3 {
    margin: 0;
}

.nara-cart-btn {
    padding: 0 20px;
}

.nara-cart-btn img {
    width: 18px;
    vertical-align: text-top;
}

.invert {
    filter: invert(1);
}

.nara-cart-btn .nara-count {
    position: absolute;
    background: #fff;
    top: 8px;
    left: 33px;
    height: 18px;
    width: 18px;
    line-height: 18px;
    border-radius: 10px;
    font-size: 13px;
    text-align: center;
    color: #ff5f15;
}

.nara-total {
    width: 35%;
    display: inline-block;
}
.nara-total .trn {
    font-size: 17px;
    font-weight: 900;
    display: block;
}
.nara-total .nara-total-value {
    font-size: 19px;
    color: #6b6d70;
}

.bottom_toolbar_pay,
.bottom_toolbar_checkout,
.bottom_toolbar_payment_option {
    padding: 15px 30px 30px;
}

.bottom_toolbar_pay ons-button,
.bottom_toolbar_checkout ons-button,
.bottom_toolbar_payment_option ons-button {
    vertical-align: bottom;
    display: inline-block !important;
    width: 65% !important;
    margin: 0 !important;
}

#cart .carousel-content {
    box-shadow: none !important;
}

#age_restriction_content .alert-dialog-button--rowfooter:first-child {
    width: 40%;
    margin: 20px 7.5% 20px 2.5%;
}

#age_restriction_content .alert-dialog-button--rowfooter:nth-child(2) {
    width: 40%;
    margin: 20px 2.5% 20px 7.5%;
}

.nara-checkout {
    padding: 20px 0;
    background: #f3f3f3;
    border-radius: 20px 20px 0 0;
}

#receipt .list-header--material {
    background: transparent;
    padding: 0 20px 20px;
}

.nara-total-row {
    padding: 20px;
    font-size: 19px;
}

#graphical_tracking .map_static:before {content: '';width: 100%;height: 140px;background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 25%,rgba(255,255,255,0.95) 75%,rgba(255,255,255,1) 100%);display: block;z-index: 1;position: absolute;display: none;}

#graphical_tracking .nara-successful ons-row {
    margin: 0;
    padding: 10px 0;
}

#graphical_tracking ons-fab {
    top: 44px;
}

.nara-estimated-time p {
    font-size: 15px;
    margin-bottom: 10px;
    color: #626573;
}

.nara-estimated-time .estimation_time {
    font-size: 23px;
    font-weight: bold;
}

.nara-estimated-time .estimation_minutes {
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: #626573;
}

.nara-status-msg p {
    font-weight: bold;
    font-size: 15px;
}

.nara-circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #07ad62;
  display: inline-block;
}

.nara-pulse {
  animation: nara_pulse 1s infinite;
}

@keyframes nara_pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(16, 188, 105, 0.5);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(16, 188, 105, 0);
  }
}

.delivery_time_wrap ons-list-item .center,
.delivery_date_wrap ons-list-item .center {
    display: grid;
    text-align: center;
    text-transform: uppercase;
}

.nara-view-order {
    border: 2px solid #e8eaed;
    border-radius: 10px;
    padding: 10px 15px;
}

.nara-view-order .sub-receipt div {
    width: 49%;
    display: inline-block;
}

.nara-view-order .sub-receipt span {
    color: #9b9ea3;
}

.nara-view-order .sub-receipt p {
    margin: 15px 0px 5px;
}

.nara-view-order .sub-receipt div:nth-child(2) {
    text-align: right;
}

.nara-thumbnail {width: 45px;height: 45px;}

.nara-thumbnail img {
    width: 45px;
    height: 45px;
    border-radius: 25px;
    object-fit: cover;
}

.estimation_merchant {
    font-size: 17px !important;
    font-weight: bold;
    margin: 0;
    line-height: 1.3;
}

.nara-view-order span {font-size: 15px;color: #ff5f15;display: block;}

.nara-view-order .stic-text-right span {
    color: #9b9ea3;
}

.gpahical_content .cream_header {
    margin: 0 10px 20px;
    display: none;
}

.order_details_html .uk-text-small {
    margin-top: 10px !important;
    margin-bottom: 0 !important;
}
.order_details_html .manage .d {
    font-weight: bold;
}
.order_details_html .text-info {background: #f3f3f3;padding: 10px;border-radius: 10px;}

.order_details_html .cart_total_wrap {
    font-size: 17px;
    padding-top: 10px;
}
.order_details_html .cart_total_wrap .text-right {
    color: #222 !important;
}

.nara-address-section {position: absolute;margin: 0 20px;padding: 0 10px 0 0;background: #fff;height: 90px;margin-top: -115px;display: flex;box-shadow: 0 5px 20px 0 rgb(30 40 50 / 10%);border-radius: 10px;width: -webkit-fill-available;z-index: 2;}

.nara-address-section .f15 {
    display: block;
    margin-bottom: 2px;
}

.nara-address-section p {margin: auto;font-size: 15px;color: #9b9ea3;}

.nara-min-content {
    margin: 0 4px;
    padding: 5px 0;
    border-radius: 20px;
    border: 1px solid #e8eaed;
}

.selected .nara-min-content {background-color: rgba(234, 29, 45, 0.09);border: none;color: #ff5f15;padding: 6px 0;font-weight: bold;}

.nara-turn-red {
    filter: hue-rotate(230deg);
}

.nara-back-btn {
    background: #fff;
    height: 50px;
    line-height: 50px;
    width: 50px;
    margin-left: 20px;
    padding: 0;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0 5px 20px 0 rgb(30 40 50 / 10%) !important;
    margin-top: 30px;
}

.nara-back-btn span {
    margin: 0;
}

.nara-top-address {
    padding: 30px 20px 0;
    position: fixed;
    background: #fff;
    z-index: 20003;
    width: -webkit-fill-available;
}

#restaurant_list .nara-top-address {
    display: flex;
}

.nara-top-address ons-icon {
    color:  #ff5f15;
    transform: rotate(90deg);
    margin-left: 3px;
}

.nara-fake-toolbar {
    width: 100%;
    height: 84px;
    display: block;
}

.tabbar:not(.tabbar--top) {
    padding-bottom: 10px;
}

.nara-back {display: inline-block;width: 36px;}

.nara-back ons-back-button {
    margin: 0;
    padding: 0;
}

.nara-back ons-back-button span {
    margin: 0;
}

.visible {
    overflow: visible;
}

.nara-receipt-top {
    margin-top: 35%;
}

.nara-restaurant-list {
    padding: 5px 0 !important;
}
